body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.ant-form-item-label {
  text-align: left !important;
}

.site-layout-background {
  background: #fff;
}

.ant-drawer-body {
  padding: 0px !important;
}

.form-container .form-input-items {
  height: 100%;
}
.form-container .form-action-items {
  border-bottom: 2px dotted #40a9ff;
  margin-bottom: 20px;
  width: 100%;
}

@keyframes gradient {
  0% {
      background-position: 0% 50%;
  }
  50% {
      background-position: 100% 50%;
  }
  100% {
      background-position: 0% 50%;
  }
}

.top-body-items {
  height: 100vh;
  background-image: url(./assests/img/landing_pg.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: 30% 80%;
}

.artical-area {
  background-color: #2D3748;
  height: 80vh;
  width: 100%;
  align-items: center;
  justify-content: space-evenly;
  display: flex;
}

.author-container {
  background-color: #4299E1;
  width: 400px;
  height: 600px;
  border-radius: 10px;
  overflow: hidden;
  margin-top: -150px;
}

.author-img {
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.author-img img {
  width: 100%;
  height: 100%;
}

.author-dtl {
  padding: 20px 30px;
}

.author-dtl h3 {
  font-size: 18px;
  font-weight: 700;
}
.author-dtl h5 {
  padding: 0px 30px;
}

.bottom-body-items {
  height: 80vh;
}

.artical-header {
  display: flex;
  justify-content: space-between;
  width: 800px;
}
.artical-header h1 {
  font-size: 30px;
  font-weight: 700;
  color: #4299E1;
}

.artical-content-container {
  width: 800px;
  overflow: hidden;
}
.artical-body p {
  font-size: 18px;
  font-weight: 400;
  text-align: justify;
  color: #ffffff;
}



/* Footer Compoents Customer Styls */
.footer-container {
  height: 50px;
  background-color: #4299e171;
  display: flex;
  justify-content: space-evenly;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  animation: gradient 30s ease-in-out infinite;
  background-size: 400% 400%;
}
.footer-container div {
  display: flex;
  align-items: center;
}
.footer-container div a, 
.footer-container div span {
  margin: 0px 10px;
  font-weight: bold;
  color: #fff;
}
.footer-container div a:hover {
  color: #23a6d5;
}


hr {
  width: 80%;
}


/* Authintication Customer Style */
.auth-container {
  width: 100vw;
  height: 100vh;
  background-color: #2D3748;
  background-image: url(./assests/img/auth_bg.png);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
}